html,body
{
	margin:0;
	padding: 0;
	heigth: 100%;
}

header#NavBar
{
	background-color: #80ffff;
	color:#fe8386;
	padding: 3px;
	height: 80px;
	position: relative;
}

div#Title
{
	float: middle;
	display: inline-block;
	position: absolute;
  	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
}

div#RegButton
{
	float: right;
	margin-right: 20px;
	
	display: inline-block;
	position: absolute;
  	top: 50%;
  	right: 0%;
  	transform: translateY(-50%);
}

div#LogButton
{
	float: right;
	margin-right: 100px;
	display: inline-block;
	position: absolute;
  	top: 50%;
  	right: 0%;
  	transform: translateY(-50%);
}


div#LogButton button
{
	background-color: #ffff80;
}

div#RegButton button
{
	background-color: #ffff80;
}


div#MainContent
{
	width: 100%;
}

div#Categories
{
	float: left;
	color: black;
	width: 25%;
	height: 100%;
}

div#Questions
{
	margin-left: 25%;
	margin-right: 25%;
	height: 100%;
}

div#RightSideBar
{
	float: right;
	background-color: #94a3ef;
	color: black;
	width: 25%;
	height: 100%;
}

.box_title{
	font-size: 1.3em;
	width: 100%;
	text-align: center;
	color: #fff;	
}

.rightBox
{
	max-width: 100%;
	padding:10px;
}

.rightBoxElem
{
	margin: 5px 0 5px 0px;
	width: 98%;
	max-width: 98%;
	height: 40px;	
	resize: none;
}

.questionContainer 
{
	margin: 5px;
	background-color: #f48b29;
	padding: 20px;
	height: auto;
}

.questionContainer:hover 
{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	cursor: pointer;
}

.adminQuestionContainer 
{
	margin: 5px;
	padding: 10px;
	height: auto;
	background-color: #dafdb4;
	position: relative;
}

.adminDeleteButton
{
	position: absolute;
	right: 15px;
	bottom: 5px;
}

.dialog
{
	background-color: #8e8e8e;
	padding: 20px;
	width:auto;
	max-width: 700px;
	-webkit-box-shadow: 9px 9px 26px -9px rgba(84,84,84,1);
	-moz-box-shadow: 9px 9px 26px -9px rgba(84,84,84,1);
	box-shadow: 9px 9px 26px -9px rgba(84,84,84,1);
}

#label
{
	background-color: white;
	margin: 10px 0 0 0;
	font-weight: bold;
	color: #105bd3;
	font-size: 1em;
}

#dateText
{
	color: #000611;
	top: 10px;
	right: 10px;
	position: absolute;
}

#dialogTextElem
{
	font-size: 1.1em;
	font-weight: bold;
	text-align: justify;
    text-justify: inter-word;
    margin: 20px 0 20px 0;
   	width:100%;
   	background-color:yellow,
}

.answerContainer
{
	padding: 4px;
	position:relative;
	border-style: dotted solid;
	border-width: 1px;
	border-color: #5e5e5e;
	width: 690px;
	margin: 0px 0 10px 0;
}

#answerTextArea
{
	width: 680px;
	resize: none;
}

#judgementValue
{	
	margin: 4px 3px 3px 8px;
	font-size: 1.5em;
	font-weight: bold;
}

#judgementListBox{
	height:100%;
}

#promotionButton{
	float:right;
	height:100%;
}

.managerDiv{
	border-style: dotted solid;
	border-width: 1px;
	margin: 10px;
	padding: 10px;
	min-width:200px;
	text-align: center;
}

.managerItem{
	height:30px;
	margin: 10px 5px 0px 5px;
	vertical-align: middle;
}

.datePicker
{
	background-image: url(../../../Image/Calendar.png);
	background-repeat: no-repeat;
	background-position: right;
}

.gwt-TextArea
{
	resize: none;
}